services:
  set-outputs:
    build:
      context: .
    command: ["cache/SetOutputs.cs"]
    volumes:
      - ${GITHUB_OUTPUT}:${GITHUB_OUTPUT}
    environment:
      - UNITY_CACHE_HIT
      - NUGET_CACHE_HIT
      - GITHUB_OUTPUT
  fetch-unity-info:
    build:
      context: .
    command: ["share/FetchUnityProjectInfo.cs"]
    volumes:
      - ${GITHUB_OUTPUT}:${GITHUB_OUTPUT}
    environment:
      - UNITY_PROJECT_PATH
      - GITHUB_WORKSPACE
      - GITHUB_OUTPUT
  nugetforunity-restore:
    build:
      context: ${UNITY_PROJECT_PATH}
      dockerfile: ${NUGET_DOCKERFILE_PATH}
      args:
        UNITY_PROJECT_PATH: ${UNITY_PROJECT_PATH}
    command: ${UNITY_PROJECT_PATH}
    volumes:
      - ${NUGET_PACKAGES_PATH}:${NUGET_PACKAGES_PATH}
    environment:
      - UNITY_PROJECT_PATH
      - NUGET_PACKAGES_PATH
