services:
  set-outputs:
    build:
      context: .
    command: ["cache/SetOutputs.cs"]
    volumes:
      - ${GITHUB_OUTPUT}:${GITHUB_OUTPUT}
    environment:
      - UNITY_CACHE_HIT
      - NUGET_CACHE_HIT
      - GITHUB_OUTPUT
  fetch-unity-info:
    build:
      context: .
    command: ["share/FetchUnityProjectInfo.cs"]
    volumes:
      - ${GITHUB_OUTPUT}:${GITHUB_OUTPUT}
    environment:
      - UNITY_PROJECT_PATH
      - GITHUB_WORKSPACE
      - GITHUB_OUTPUT
  restore-local-cache:
    build:
      context: .
    command: ["cache/RestoreLocalCache.cs"]
    volumes:
      - ${GITHUB_OUTPUT}:${GITHUB_OUTPUT}
      - ${GITHUB_WORKSPACE}:${GITHUB_WORKSPACE}
      - ${LOCAL_CACHE_PATH}:${LOCAL_CACHE_PATH}
    environment:
      - LOCAL_CACHE_PATH
      - SOURCE_PATH
      - CACHE_KEY
      - GITHUB_OUTPUT
  nugetforunity-restore:
    build:
      context: .
      dockerfile: cache/Dockerfile.nuget
      additional_contexts:
        unity-project: ${UNITY_PROJECT_PATH}
      args:
        UNITY_PROJECT_PATH: ${UNITY_PROJECT_PATH}
    command: ${UNITY_PROJECT_PATH}
    volumes:
      - ${NUGET_PACKAGES_PATH}:${NUGET_PACKAGES_PATH}
    environment:
      - ${NUGET_PACKAGES_PATH}:${NUGET_PACKAGES_PATH}
      - ${UNITY_PROJECT_PATH}:${UNITY_PROJECT_PATH}